.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Container {
    width: 1150px;
    background-color: aquamarine;
    min-height: 500px;
    display: flex;
    margin-top: 60px;
}
